@import "../../assets/styles/mixin.scss";

.manageNavBar_main {
  width: 60%;
  .manageNavBar_notification {
    @include notificationDiv;
  }
  .visible {
    opacity: 1;
    transition: opacity 0.3s ease;
  }

  .hidden {
    margin: 0;
    padding: 0;
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  form {
    display: flex;
    flex-direction: column;
    .manageNavBar_select {
      margin: 5px 0px;
    }
    label {
      font-family: "NotoSerifLight";
      font-size: 1.5rem;
    }
    input,
    select {
      border: 1px solid;
      border-radius: 10px;
      padding: 10px;
    }
    button {
      @include blackButton;
    }
  }
}
