.orderRoot_header {
    background-color: rgb(214, 214, 214);
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: row;
}
.orderRoot_body {
    display: flex;
    flex-direction: column;
}
.orderRoot_order {
    display: flex;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    button {
        border: none;
        font-size: 1.2rem;
        text-decoration: none;
        color: #a49864;
        transition: 0.3s;
        font-family: "NotCourierSans";
        &:hover {
            color: black;
        }
    }
}

.orderRoot_column {
    width: 16.5%;
    text-align: center;
    height: auto;
}
