@import "../../assets/styles/mixin.scss";

.registration_main {
    width: 1280px;
    margin: auto;
    padding: 20px 0px;
    .registration_main_forms {
        display: flex;
        justify-content: space-evenly;
        .registration_main_connexForm {
            @include registrationForm;
        }
        .registration_main_regForm {
            @include registrationForm;
        }
    }
}
