@import "../../assets/styles/variables";

@media (min-width: $desktop-width) {
  .dashboard_main {
    width: 1280px;
    margin: auto;
    .dashboard_main_navbar {
      padding: 5px;
      background-color: rgb(237, 237, 237);
      margin: 10px 0px;
      border-radius: 10px;
      button {
        border: none;
        font-size: 1.2rem;
        text-decoration: none;
        color: #a49864;
        margin: 0px 10px;
        transition: 0.3s;
        font-family: "NotCourierSans";
        &:hover {
          color: black;
        }
      }
    }
  }
}
@media (max-width: $phone-width) {
  .dashboard_main {
    margin: auto;
    .dashboard_main_navbar {
      padding: 5px;
      background-color: rgb(237, 237, 237);
      margin: 10px;
      border-radius: 10px;
      button {
        text-decoration-line: underline;
        width: 100%;
        border: none;
        color: #a49864;
        font-family: NotCourierSans;
        font-size: 1.2rem;
        margin: 3px 0px;
        text-decoration: none;
        transition: 0.3s;
        text-decoration-line: underline;
        &:hover {
          color: black;
        }
      }
    }
  }
}
