.profile_main {
  width: 1280px;
  margin: auto;
  .profile_main_navbar {
    padding: 5px;
    background-color: rgb(237, 237, 237);
    margin: 10px 0px;
    border-radius: 10px;
    a {
      font-size: 1.2rem;
      text-decoration: none;
      color: #a49864;
      margin: 0px 10px;
      transition: 0.3s;
      font-family: "NotCourierSans";
      &:hover {
        color: black;
      }
    }
  }
}

.profile_main_profile {
  background-color: rgb(237, 237, 237);
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
  form {
    display: flex;
    flex-direction: column;
    font-family: "Georgia";
    label {
      font-size: 1rem;
    }
    input {
      padding: 5px;
      border: 1px solid rgb(183, 183, 183);
      border-radius: 10px;
      &:focus {
        outline: 1px solid rgb(161, 161, 161);
      }
    }
    .profile_main_profile_passwordDiv {
      border: 1px solid rgb(160, 160, 160);
      border-radius: 10px;
      margin: 10px 0px;
      padding: 10px;
      width: 50%;
      display: flex;
      flex-direction: column;
    }
    button {
      width: 200px;
      margin-top: 10px;
      padding: 5px;
      background-color: #a49864;
      border-radius: 30px;
      border: none;
      transition: 0.3s;
      font-family: "NotCourierSans";
      &:hover {
        color: rgb(105, 105, 105);
        background-color: rgb(212, 212, 212);
      }
    }
  }
}

.profile_main_orders {
  background-color: rgb(237, 237, 237);
  padding: 10px;
  border-radius: 10px;
}
