@font-face {
    font-family: "JacquesFrancois";
    src: url("./fonts/JacquesFrancois-Regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Karma";
    src: url("./fonts/Karma-Light.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Kalnia";
    src: url("./fonts/Kalnia-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Kalnia";
    src: url("./fonts/Kalnia-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "TimesNewRoman";
    src: url("./fonts/times-new-roman.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Georgia";
    src: url("./fonts/georgia.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "RalewayRegular";
    src: url("./fonts/Raleway-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "TimelessMemoriesRegular";
    src: url("./fonts/TimelessMemoriesRegular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Nautilus";
    src: url("./fonts/Nautilus.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "NotCourierSans";
    src: url("./fonts/NotCourierSans.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "NotCourierSans";
    src: url("./fonts/NotCourierSans-Bold.otf") format("opentype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "NotoSerifLight";
    src: url("./fonts/NotoSerif-Light.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "CrimsonRoman";
    src: url("./fonts/Crimson-Roman.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "CrimsonRoman";
    src: url("./fonts/Crimson-Semibold.otf") format("opentype");
    font-weight: 600;
    font-style: normal;
}
