.categorySpecial_main {
  width: 60%;
  margin: auto;
  padding-bottom: 10px;
}
h3 {
  margin: 15px 0px;
  font-family: "TimesNewRoman";
  color: #a49864;
}

h5 {
  margin: 5px 0px;
  font-family: "TimesNewRoman";
  color: #000000;
}
